* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Production-specific files: always keep prod version when merging
public/.htaccess merge=ours
public/robots.txt merge=ours
public/favicon.ico merge=ours
public/index.php merge=ours